.plist-heading-container {
  text-align: center;
  margin-bottom: 42px; /**/
}

.plist-subheading {
  margin: auto;
  justify-self: center;
  width: 75vw;
}

.plist-grid {
  display: grid;
  justify-items: center;
  grid-row-gap: 21px;
  margin-bottom: 50px; /**/
}

.plist-entry {
  border-radius: 11px;
  width: 84vw;
  text-align: center;
  display: grid;
  height: 113px; /**/
  position: relative;
  background: white;
  z-index: auto;
}

.plist-entry::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: inherit;
  box-shadow: 0 61px 93px 0 rgba(0, 0, 0, 0.16);
  z-index: -1;
}

.plist-msg:hover {
  color: var(--primary-red);
}

.plist-msg {
  grid-area: 1/1/2/2;
  align-self: center;
  color: #707070;
  cursor: pointer;
}

.plist-uname {
  font-size: 1.375rem;
}

.rmv-plist {
  grid-area: 1/1/2/2;
  width: 6.93vw;
  height: 6.93vw;
  max-width: 35px;
  justify-self: end;
  padding: 3.17vw;
  cursor: pointer;
}

@media only screen and (min-width: 769px) {
  .pinnedlist-container {
    margin-top: 8vh;
  }
  .plist-heading-container {
    margin-bottom: 6.2vh; /**/
  }

  .plist-grid {
    grid-row-gap: 37px;
    margin-bottom: 4.6vh; /**/
    grid-template-columns: 1fr 1fr 1fr;
    width: 66.1vw;
    margin: auto;
  }

  .plist-entry {
    width: 20.7vw;
    min-height: 115px;
    height: 12.5vh; /*Issue with height???135px*/
  }

  .plist-uname {
    font-size: 1.75rem;
    line-height: 1.8rem;
  }

  .rmv-plist {
    width: 1.62vw;
    height: 1.62vw;
    padding: 0.78vw;
  }
}
