.signup-container {
  display: grid;
  grid-template-rows: 20vh 80vh;
}

.ub-topbar {
  grid-area: 1/1/2/2;
}

.ub-logo {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3.313rem;
  line-height: 3.313rem;
  color: var(--primary-red);
  margin: 25px 0 0 6.67vw;
}

.ub-logo-tag {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.813rem;
  line-height: 0.813rem;
  letter-spacing: -0.04rem;
  color: #858585;
  margin: 0 0 0 6.67vw;
}

.login-form {
  grid-area: 2/1/3/2;
  margin: 0 6.67vw;
  font-family: 'Montserrat', sans-serif;
}

.form-heading {
  font-weight: 700;
  font-size: 2.063rem;
  line-height: 2.063rem;
  letter-spacing: -0.1rem;
  margin: 0 0 15px 0; /**/
}
.form-label {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.063rem;
  letter-spacing: -0.1rem;
  margin: 0;
}
.form-input {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 0.813rem;
  color: #9196a5;
  width: 86.67vw;
  height: 44.5px; /**/
  border: solid 1px #a6a6a6;
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 5px 2.67vw;
}

.submit-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.063rem;
  padding: 11px 2.67vw;
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 86.67vw;
  cursor: pointer;
  background: var(--primary-red);
  color: white;
  margin: 15px 0 0 0; /**/
}

.switch-form {
  text-align: center;
  font-weight: 400;
  font-size: 1.063rem;
  margin: 13px 0 0 0; /**/
}

.ub-image {
  display: none;
}

@media only screen and (min-width: 769px) {
  .signup-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 32.5vh 67.5vh;
  }

  .ub-topbar {
    grid-area: 1/1/2/2;
  }

  .ub-logo {
    font-size: 5.063rem;
    line-height: 5.063rem;
    margin: 3.52vh 0 0 2.55vw; /*Height Issue? 38px*/
  }

  .ub-logo-tag {
    font-size: 1.188rem;
    line-height: 1.188rem;
    letter-spacing: -0.03rem;
    margin: 0 0 0 2.55vw;
  }

  .login-form {
    grid-area: 1/2/3/3;
    margin: 0;
    align-self: center;
    justify-self: center;
  }

  .form-heading {
    font-size: 3.188rem;
    line-height: 3.188rem;
    margin: 0 0 1.39vh 0; /*Height Issue? 15px*/
  }
  .form-label {
    font-size: 1.375rem;
    line-height: 1.375rem;
    margin: 0 0 0.37vh 0; /*Height Issue? 4px*/
  }
  .form-input {
    font-size: 1.25rem;
    width: 28vw;
    height: 6.02vh; /*Height Issue? 65px*/
    margin-bottom: 1.94vh; /*Height Issue? 21px*/
    padding: 0.46vh 0.68vw; /*Height Issue? 5px*/
    max-height: 50px;
  }

  .submit-btn {
    font-size: 1.563rem;
    padding: 1.62vh 0; /*Height Issue? 17.5px*/
    width: 28vw;
    transition: 0.5s;
    background-size: 150% auto;
    background-image: linear-gradient(
      to right,
      var(--primary-red) 0%,
      var(--primary-red) 51%,
      #800000 100%
    );
    margin: 3.148vh 0 0 0; /*Height Issue? 34px*/
  }

  .submit-btn:hover {
    background-position: right center;
  }

  .switch-form {
    text-align: center;
    font-weight: 400;
    font-size: 1.375rem;
    margin: 1.2vh 0 0 0; /*Height Issue? 13px*/
  }

  .ub-image {
    display: unset;
    grid-area: 2/1/3/2;
  }

  .ub-image img {
    width: 45.88vw; /*52.76vw;*/
    height: 34.58vw; /*39.79vw;*/
    position: relative;
    left: 3.75vw;
  }
}
